* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL INSTRUCTION */

.body-wrapper {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #d2d4c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-uniform-green {
    height: 10%;
    width: 100%;
    background-color: #358675;
    position: fixed;
    top: 0;
}

.main-window {
    width: 80%;
    height: 95%;
    background-color: red;
    z-index: 1;
}
