* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL CLASS AND GENERAL INSTRUCTION */

.body-wrapper {
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #d2d4c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-uniform-green {
    height: 13%;
    width: 100%;
    background-color: #358675;
    position: fixed;
    top: 0;
}

.main-window {
    width: 77%;
    height: 95%;
    background-color: #ffffff;
    z-index: 1;
}

.img-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
    cursor: pointer;
}

h4 {
    color: #1b1b1b;
}

.h4-light {
    font-weight: 400;
    font-size: 14px;
}

h5 {
    color: #b2b2b2;
    font-weight: 600;
}

i:active {
    transform:scale(0.7);
    transition: 0.3s ease;
}

.chat {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
}

.chat:hover {
    background-color: #eaeaea;
}



/* MAIN LEFT WINDOW */

.window-left {
    float: left;
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* sezione del contatto alta */
.user-tab {
    height: 70px;
    width: 100%;
    background-color: #eaeaea;
    border-right: 0.5px solid #b2b2b2;
    display: flex;
    justify-content: space-between;
}

/* sezione delle notifiche attive */
.notification-tab {
    height: 80px;
    width: 100%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    position: relative;
}

.bell {
    margin-left: 15px;
    object-fit: contain;
    padding: 15px;
}

.text-info-2 {
    padding-left: 15px;
    color: #b2b2b2;
}

.text-info-2 > h4 {
    font-weight: 500;
}

.text-info-2 > h5 {
    text-decoration: underline;
    cursor: pointer;
}

.fa-times {
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

/* sezione della barra ricerca */
.search-tab {
    height: 50px;
    width: 100%;
    padding: 10px 15px;
    background-color: #fbfbfb;
}

.search-icon {
    float: left;
    width: 11%;
    height: 100%;
    background-color: white;
    color: #b2b2b2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-search {
    float: left;
    width: 89%;
    height: 100%;
}

.input-search > input {
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    padding: 5px 10px;
}

/* sezione lista contatti */
.friends-tab {
    height: calc(100% - 70px - 80px - 50px);
    width: 100%;
    overflow-y: scroll;
}

.contact-text-2 {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
}

.text-info-3 {
    padding-left: 15px;
    width: 78%;
}

.text-info-3 > h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ora {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



/* MAIN RIGHT WINDOW */

.window-right {
    float: left;
    height: 100%;
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* sezione del contatto alta */
.contact-tab {
    height: 70px;
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.contact-text, .contact-text-3 {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
}

.contact-text > img, .contact-text-3 > img {
    margin-left: 15px;
}

.text-info {
    padding-left: 15px;
    cursor: pointer;
}

.icons-contact {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icons-contact > i {
    padding-right: 15px;
    font-size: 17px;
    color: #b2b2b2;
    cursor: pointer;
}

.icons-contact > i:hover {
    color: grey;
}

/* sezione della chat centrale */
.central-tab {
    height: calc(100% - 70px - 70px);
    width: 100%;
    background-image: url('img/wallpaper.jpg');
    background-size: contain;
    background-repeat: repeat;
    padding: 10px 60px;
    overflow-y: scroll;
    display: none;
}

.main-visible {
    display: block;
}

.active {
    background-color: #eaeaea;
}

.message {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.left {
    width: 70%;
    float: left;
    clear: both;
    background-color: #f8f8f8;

}

.ora-text-chat {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #b2b2b2;
}

.right {
    float: right;
    clear: both;
    background-color: #e1f7ca;
}

.ora-text-chat-user {
    position: absolute;
    bottom: 5px;
    right: 28px;
    font-size: 12px;
    color: #b2b2b2;
}

.check-read {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #64b1f8;
}

.message:hover .message-options {
    display: block;
}

.message-options {
    display: none;
    position: absolute;
    color: #B6B9BB;
	cursor: pointer;
    top: 5px;
    right: 10px;
}

.message-options-panel {
    display: none;
	position: absolute;
    top: 24px;
    right: 10px;
    z-index: 1;
	width: 150px;
	height: 80px;
	background: #f8f8f8;
    border-radius: 5px;
	box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
}

.message-info, .message-destroy {
    cursor: pointer;
    width: 100%;
    height: 50%;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

/* sezione del testo in basso */
.text-tab {
    height: 70px;
    width: 100%;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-tab > div > i {
    color: #666f76;
}

.emoticons {
    width: 10%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.microphone {
    width: 10%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.fa-smile, .fa-microphone, .fa-paper-plane {
    cursor: pointer;
}

.input {
    width: 80%;
    display: flex;
    align-items: center;
}

.input > input {
    width: 100%;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    padding: 15px;
}

.input > input:focus {
    outline-width: 0;
}

/* classi utili per Javascript */
.template {
    display: none;
}

.when-slideUp {
    height: calc(100% - 70px - 50px);
    width: 100%;
    overflow-y: scroll;
}



/* animazione sull'input nel caso non inserisco nessuna parola da inviare */
.ahashakeheartache {
        -webkit-animation: kf_shake 0.4s 1 linear;
        -moz-animation: kf_shake 0.4s 1 linear;
        -o-animation: kf_shake 0.4s 1 linear;
    }
    @-webkit-keyframes kf_shake {
        0% { -webkit-transform: translate(30px); }
        20% { -webkit-transform: translate(-30px); }
        40% { -webkit-transform: translate(15px); }
        60% { -webkit-transform: translate(-15px); }
        80% { -webkit-transform: translate(8px); }
        100% { -webkit-transform: translate(0px); }
    }
    @-moz-keyframes kf_shake {
        0% { -moz-transform: translate(30px); }
        20% { -moz-transform: translate(-30px); }
        40% { -moz-transform: translate(15px); }
        60% { -moz-transform: translate(-15px); }
        80% { -moz-transform: translate(8px); }
        100% { -moz-transform: translate(0px); }
    }
    @-o-keyframes kf_shake {
        0% { -o-transform: translate(30px); }
        20% { -o-transform: translate(-30px); }
        40% { -o-transform: translate(15px); }
        60% { -o-transform: translate(-15px); }
        80% { -o-transform: translate(8px); }
        100% { -o-origin-transform: translate(0px); }
    }
